.cta-button.addproduct {
    padding: 8px 16px;
    background-color: var(--primary-color); /* Use primary color from home page */
    color: var(--white);
    border: none;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cta-button.addproduct:hover {
    background-color: var(--secondary-color); /* Use secondary color for hover effect */
}